@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

.logos-slide {
    animation: slide 10s infinite linear ;
    width: max-content;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


